.card.group-card {

  display: grid;

  grid-template-columns: minmax(350px, 1fr) minmax(150px, 250px);
  padding: 15px 20px;

  .card-content {
    display: flex;
    align-items: center;
    img{
      object-fit: contain;
      margin-right:  20px;
      max-width: 48px;
    }
  }

  .card-footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    div.group-progress {
      height: 15px;
      background: var(--background-color-progress);
      border-radius: 50px;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.12);

      & > .group-progress-bar {
        position: absolute;
        height: 15px;
        border-radius: 50px;
        background: var(--color-primary);
        top: 0;
        left: 0;
      }
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }
  }
}