.service {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>.chart {
    &>canvas {
      width: 100px;
    }
  }
}
