.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  &>.vstack>.hstack {
    &> .text-button {
      color: var(--color-muted);
      cursor: pointer;
    }
    @each $class, $color in $colors {
      &>.text-button-hover-#{$class} {
        transition: 500ms ease-in-out;
      }
      &>.text-button-hover-#{$class}:hover{
        color: var(--color-#{$class});
      }
    }
  }

  .circle-dot {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    margin: auto 0 auto 15px;
    background-color: var(--color-primary);
    @each $class, $color in $colors {
      &.circle-dot-#{$class}{
        background-color: var(--color-#{$class});
      }
    }
  }

  & > p {
    margin: 0 10px;
  }

  & > .chart {
    width: 100px;
    height: 60px;
  }
}
