#team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  & > .card {
    margin: 15px 20px;
    width: 256px;
    &>.card-content{
      height: 100%;
    }
    img{
      object-fit: contain;
      width: 100px;
      flex-grow: 1;
    }
  }
}