body {
  background-color: var(--app-background);
  color: var(--color-text);


  div.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;


    main {
      flex-grow: 1;
    }

    footer {
      padding: 10px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

*{
  font-family: Roboto, sans-serif;
}


a:not(.btn) {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s;
  &:hover{
    color: var(--color-text_hover);
  }
}