@use "sass:math";

@import "../vars";
@import "../ui";

body {
  background-color: var(--app-background);
  color: var(--color-text);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

* {
  font-family: Roboto, sans-serif;
}

.content, .fluid-content {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a:not(.btn) {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-text_hover);
  }
}

.app-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

  & > img {
    padding: 20px;
    width: 450px;
    object-fit: contain;
  }

  & > div {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
}


$footer_height: 100px;
$angle: -2.5deg;

$cosAngle: math.cos(90deg - abs($angle));
$sinAngle: math.sin(90deg - abs($angle));
$tanAngle: math.tan(90deg - abs($angle));
footer:before {
  position: absolute;
  content: " ";
  width: calc(100vw / #{$sinAngle});
  transform: rotate($angle);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #E6EBEB;
  height: calc(100vw / #{$tanAngle});
  top: calc((100vw / #{$tanAngle} * -1) / 2);
  z-index: 0;
}


footer {


  position: relative;
  margin-top: calc(100vw / #{$tanAngle});
  min-height: calc(100vw / #{$tanAngle} * 1.5);
  background-color: #E6EBEB;
  display: flex;
  padding-top: 30px;

  & > .footer-right-corner {
    position: absolute;
    height: calc(100vw / #{$tanAngle} * 1.5);
    bottom: 0;
    right: 20px;
  }

  & > div.footer-container {
    margin: 10px auto 30px auto;
    position: relative;
    z-index: 1;
    //background-color: red;
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    max-width: 1550px;
    grid-gap: 25px;

    .footer-separator {
      width: 100%;
      background: rgba(0, 0, 0, 0.16);
    }

    color: #909D9E;
    text-align: justify;

    p {
      text-indent: 10px;
    }

    a {
      color: #909D9E;
    }

    img {
      width: 250px;
      object-fit: contain;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & > div > ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px 10px;


    }

  }

}

#btn-top-window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  padding: 0 0 0 2px;
  height: 64px;

  cursor: pointer;
  outline: none;

  &:hover {

    border-color: rgba(0, 0, 0, 0.5);

    .material-icons {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .material-icons {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.3s linear;

  }

  border: 1px solid rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 50px;
  transition: border 0.3s linear;
}