.nav-top {
  display: flex;
  flex-direction: row;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;

  .nav-logo, .nav-logo > img {
    width: 290px;
  }

  .nav-spacer {
    flex-grow: 1;
  }

  nav > ul {
    display: flex;
    list-style: none;
    font-size: 18px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profil-section {
      display: flex;
      align-items: center;
      background: #E4E4E4;
      padding: 5px 20px;
      height: 35px;
      border-radius: 25px;

      transition: background-color 0.3s;

      img {
        margin-right: 5px;
        max-width: 32px;
        max-height: 32px;
        object-fit: contain;
        border-radius: 100%;
      }

      &:hover {
        background: #c2c2c2;
      }
    }

    & > * {
      &.profil-section {
        margin: 4px 0;
      }

      margin: 4px 30px;
    }

  }
}