.nav-top {
  display: flex;
  flex-direction: row;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;

  .nav-logo, .nav-logo > img {
    width: 290px;
  }

  .nav-spacer {
    flex-grow: 1;
  }

  nav > ul {
    display: flex;
    list-style: none;
    font-size: 18px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > * {
      margin: 4px 30px;
    }

  }
}