.group-overview-card {
  display: flex;
  flex-direction: row;

  &>.overview {
    width: 400px;
    &>p {
      font-family: "Roboto Light", sans-serif;
      font-size: 14px;
      color: var(--color-dark-grey);
    }
    &>.badges {
      display: flex;
      flex-direction: row;
      align-items: center;

      &>.badge{
        display: flex;
        align-items: center;
        border-radius: 20px;
        margin: 0 5px;
      }
    }
    &>.chart {
      margin: 50px 0;
      &>canvas {
        border-radius: 3px;
        border: 1px solid #C1C1C1;
        background: white;
      }
    }
  }

  &>.services {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &>.service {
      margin: 5px 0;
    }
  }
}
